@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-bookmark {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.hero-img::after {
  content: "";
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-25%);
  width: 75%;
  height: 70%;
  z-index: -1;
  border-bottom-left-radius: 45%;
}

.feature-img::before {
  content: "";
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-25%);
  width: 85%;
  height: 100%;
  z-index: -1;
  border-bottom-right-radius: 35%;
}

.feature2-img::before {
  content: "";
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-35%);
  width: 80%;
  height: 85%;
  z-index: -1;
  border-bottom-right-radius: 35%;
}

.feature3-img::before {
  content: "";
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
  width: 85%;
  height: 95%;
  z-index: -1;
  border-bottom-right-radius: 35%;
}

.feature-border::after {
  content: "";
  background-color: hsl(0, 94%, 66%);
  position: absolute;
  width: 16.5rem;
  left: 50%;
  height: 4px;
  bottom: -80%;
  transform: translateX(-50%);
}

.icon:hover {
  filter: invert(38%) sepia(77%) saturate(813%) hue-rotate(320deg)
    brightness(105%) contrast(96%);
}

.arrow {
  filter: invert(38%) sepia(77%) saturate(813%) hue-rotate(320deg)
    brightness(105%) contrast(96%);
}

@media only screen and (max-width: 768px) {
  .feature-img::before {
    left: -10%;
  }
  .feature2-img::before {
    left: -10%;
    height: 80%;
  }
  .feature3-img::before {
    left: -10%;
    height: 84%;
  }
  .feature2-img {
    padding-left: 2rem;
  }
  .feature3-img {
    padding-left: 2.5rem;
  }

  .feature-border::after {
    bottom: -5%;
  }
}
